<div class="container">
  <form class="form-inline align-form-right">
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="q" class="form-control" [(ngModel)]="q" placeholder="Search Twitter">
    </div>
  </div>
  <button type="button" (click)="fetchTwits()" class="btn btn-primary">Search</button>
</form>
<br/>
<div  class="search-results" infinite-scroll [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="200" (scrolled)="onScroll()" *ngIf="twits && meta">
  <h1 class="topic">{{meta.query}}</h1>
  <div *ngFor="let tweet of twits">
    <div class="card card-block">
    <div class="row">
      <div class="col-sm-1">
      <img src="{{tweet.user.profile_image_url}}" alt="">
      </div>
      <div class="col-sm-8"><strong>{{tweet.user.name}}</strong><br/><span *ngIf="tweet.user.location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{tweet.user.location}}</span></div>
      <div class="col-sm-3"><i class="fa fa-clock-o" aria-hidden="true"></i> {{tweet.created_at | date:'medium'}}<br/><i class="fa fa-comments-o" aria-hidden="true"></i> {{tweet.user.followers_count}} followers</div>
    </div>         
      <p class="card-text">{{tweet.text}}</p>
    </div>
  </div> 
</div>
</div>